* {
  /* border-style: solid; */
}

body {
  display: flex;
  flex-direction: row;
}

main {
  width: 100%;
}

/* NAV BAR ------------------------------------------------------*/
.nav-bar {
  width: 420px;
  height: 100vh;
  background-color: #00000069;
  border-style: solid;
}

/* MY BOOKINGS PAGE ---------------------------------------------*/
.my-booking-background {
  background-image: linear-gradient(0deg, rgb(0 0 0 / 60%) 19%, rgb(39 39 39 / 62%) 83%), url(images/lobby-image.jpg);
  background-size: cover;
}

/* BOOK A ROOM PAGE ---------------------------------------------*/



/* HELPER CLASSES -----------------------------------------------*/
.hide {
  display: none;
  transition: 0s linear 0s, opacity 300ms;
  /* look into smoother transitions*/
}