* {
  border-style: solid;
}

body {
  display: flex;
  flex-direction: row;
}

main {
  width: 100%;
}

/*NAV BAR ------------------------------------------------------*/

.nav-bar {
  width: 275px;
  height: 100vh;
  background-color: #00000082
}


/*HELPER CLASSES -----------------------------------------------*/

.hide {
  display: none;
}