* {
  /* border-style: solid; */
}

body {
  display: flex;
  flex-direction: row;
}

main {
  width: 100%;
}

.main-heading-text {
  font-size: 6em;
  color: rgb(240, 240, 239);
  text-align: right;
  margin-top: 17px;
  margin-right: 60px;
}

/* NAV BAR ------------------------------------------------------*/
.nav-bar {
  width: 420px;
  min-height: 100pc;
  background-color: #00000075;
  border-style: solid;
  border-color: black;
}

.nav-title-text {
  font-size: 2.2em;
  color: #b6b524;
  margin-left: 22px;
  margin-top: 45px;
  text-shadow: 7px 6px 16px #000000;
}

.nav-button-area {
  display: flex;
  flex-direction: column;
  margin-top: 137px;
  height: 380px;
  align-items: center;
  justify-content: space-evenly;
}

.nav-button {
  background: #00000099;
  width: 276px;
  height: 69px;
  border-radius: 6px;
  border-width: 7px;
  border-style: double;
  border-color: #8080808f;
  border-image: none;
  color: #eae9e3d9;
  font-size: 1.3em;
}

/* HOME PAGE ----------------------------------------------------*/
.home-background {
  background-image: linear-gradient(0deg, rgb(0 0 0 / 60%) 19%, rgb(39 39 39 / 62%) 83%), url(/src/images/lobby-image.jpg);
  background-size: cover;
  background-attachment: fixed;
}

.home-welcome-text-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 133px;
}

.home-welcome-text {
  text-align: center;
  width: 900px;
  font-size: 1.5em;
  background-color: #141414ba;
  color: rgb(202 202 202);
  padding: 33px;
  border-radius: 7px;
  border-style: solid;
  border-color: black;
  font-style: oblique;
}

/* MY BOOKINGS PAGE ---------------------------------------------*/
.my-bookings-background {
  background-image: linear-gradient(0deg, rgb(17 17 17 / 62%) 39%, rgb(21 21 21 / 77%) 83%), url(/src/images/bar-image.jpg);
  background-size: cover;
  background-attachment: fixed;
}

.my-bookings-heading-text {
  text-align: center;
  border-style: solid;
  border-color: #000000;
  font-size: 2.5em;
  color: rgb(240, 240, 239);
  margin: auto;
  margin-top: 150px;
  align-items: center;
  background-color: #a583279c;
  width: 700px;
  height: 75px;
  padding-top: 23px;
  padding-bottom: -2px;
  border-width: 9px;
  border-style: double;
}

.my-bookings-button-area {
  display: flex;
  flex-direction: row;
  margin: auto;
  justify-content: space-around;
  width: 700px;
  margin-top: 35px;
}

.my-bookings-button {
  height: 60px;
  width: 240px;
  border-radius: 15px;
  border-style: solid;
  border-color: #000000;
  border-width: 9px;
  border-style: double;
  border-image: none;
  background-color: #008586bd;
  color: rgb(240, 240, 239);
  font-size: 1.3em;
}

.my-bookings-button-grey {
  height: 60px;
  width: 240px;
  border-radius: 15px;
  border-style: solid;
  border-color: #000000;
  border-width: 9px;
  border-style: double;
  border-image: none;
  background-color: rgb(85, 84, 84);
  color: rgb(240, 240, 239);
  font-size: 1.3em;
}

.past-booking-spend-text {
  color: rgb(240, 240, 239);
  text-align: center;
  border-style: solid;
  border-color: #000000;
  font-size: 1.5em;
  margin: auto;
  margin-top: 65px;
  align-items: center;
  width: 820px;
  border-width: 3px;
  border-style: solid;
  border-radius: 45px;
  background-color: #00000091;
  padding: 5px;
}

.my-bookings-display-area {
  border-width: 5px;
  width: 95%;
  min-height: 200px;
  margin: auto;
  margin-top: 45px;
  border: #000000;
  border-style: solid;
  border-width: 4px;
}


/* BOOK A ROOM PAGE ---------------------------------------------*/
.booking-background {
  background-image: linear-gradient(0deg, rgb(0 0 0 / 67%) 39%, rgb(32 31 31 / 77%) 83%), url(/src/images/room-image.jpg);
  background-size: cover;
  background-attachment: fixed;
}



/* HELPER CLASSES -----------------------------------------------*/
.hide {
  display: none;
  transition: 0s linear 0s, opacity 300ms;
  /* look into smoother transitions*/
}

.invisible {
  visibility: hidden;
}

button {
  cursor: pointer;
}